[Desktop Entry]
Type=Application
Name=SESAME
Comment=Steam Easy Shortcut Artwork Manager Engine
Exec=SESAME --desktop
Icon=sesame
Terminal=false
Categories=Utility;Game;
StartupWMClass=SESAME
